@font-face {
  font-family: lights;
  src: url(/fonts/HELVETICANEUELTGEO-45LIGHTS.TTF);
}

@font-face {
  font-family: roman;
  src: url(/fonts/HELVETICANEUELTGEO-55ROMAN.TTF);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #0a22f4;
  color: #ffffff;
  height: 308px;
  font-family: roman;
  font-size: 32px;
  padding: 70px 240px;
}

.box1,
.box2,
.box3 {
  position: relative;
  display: inline;
  margin: 10px 10px;
}

.box1-text,
.box2-text,
.box3-text {
  background-color: rgba(255, 255, 255, 0.8);
  width: 443px;
  height: 125px;
  padding: 30px 74px 30px 30px;
  font-size: 16px;
  font-family: lights;
  color: #171717;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
